<mat-toolbar class="color" style="height: 85px;" >
  <span>
    <a routerLink="/">
     <img src="assets/img/LOGO-HEADER.png" width="200" height="70"   id="logo" data-height-percentage="80" data-actual-width="200" data-actual-height="70">
    </a>

  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/add" routerLinkActive="mat-accent">Agregar</a>
         <a mat-button routerLink="/sitio" routerLinkActive="mat-accent">Productos</a>
            <a mat-button routerLink="/contac" routerLinkActive="mat-accent">Contacto</a>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a >
    </li>
  </ul>
</mat-toolbar>
