mat-form-field,
input {
  width: 100%;
}

form {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.button {
  background-color: rgb(12, 131, 12); /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
