<!-- <p>{{ content }}</p>
<textarea [(ngModel)]="texto"></textarea>
<button mat-raised-button color="primary" (click)="showText()">Guardar</button> -->

<form (submit)="addPost(postForm)" #postForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input type="text" matInput ngModel usuario="ngModel" name="usuario" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" matInput ngModel title="ngModel" name="title" required />
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Summary</mat-label>
    <input type="text" matInput ngModel summary="ngModel" name="summary" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Content</mat-label>
    <textarea
      matInput
      ngModel
      content="ngModel"
      name="content"
      required
    ></textarea>
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <button mat-raised-button class="button">Guardar</button>
</form>
